<% if (locals.debtsArray) { %>
    <% if (debtsArray.length === 0) { %>
        <h1 class="no-records">You have no debt records!</h1>
        <a href="/add" class="btn btn-dark btn-lg" role="button" aria-disabled="true">Add new debt record</a>
        <% } else { %>
            
            <a href="/add" class="btn btn-dark btn-lg" role="button" aria-disabled="true">Add new debt record</a>
            <% } %>
    <% } %>

</div> <!--END OF HOME CONTAINER DIV THAT IS FLEX AND IS USED TO DISPLAY ITEMS, ITEMS MUST GO ABOVE-->