</div>
<% if (locals.objArrayOneEl) { %>
    <div style="display: flex; justify-content: center; align-content: center; flex-wrap: wrap; height: 80vh;">
        <div class="card myCard" style="width: 30rem">
            <div class="card-header bg-dark text-white">
                <h2>Amount: <%= objArrayOneEl[0].amount%> JD</h2>
            </div>
            <div class="card-body bg-dark text-white">
                <h4 class="card-title bg-dark text-white">Note for this record:</h4>
                <h2 class="card-text bg-dark text-white"><%=objArrayOneEl[0].note%></h2>
            </div>
        </div>
    </div>
<% } %>
    