html {
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
footer > h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.flex-asem {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.reg-actions {
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}
.reg-actions:hover {
    color: gray;
}
.login-form {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.flash-message-good {
    margin-top: 2rem;
    text-align: center;
    color: #39FF14
}
.flash-message-bad {
    margin-top: 2rem;
    text-align: center;
    color: red;
}
.welcome-back {
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
}
#see-pass {
    border: none;
    background-color: white;
}
#see-pass:hover {
    cursor:pointer;
}
#hide-img {
    width: 20px;
    height: 30px;
}
#password {
    width: 3rem;
}
#hide-img-confirm {
    width: 20px;
    height: 30px;
}
#see-pass-confirm {
    border: none;
    background-color: white;
}
#see-pass-confirm:hover {
    cursor: pointer;
}
#submit {
    margin-top: 1rem;
}
#see-pass-login {
    border: none;
    background-color: white;
}
#see-pass-login:hover {
    cursor:pointer;
}
#hide-img-login {
    width: 20px;
    height: 30px;
}
